
 <style>
     th, td{
         color:#fff;
     }
 </style>
    <div class="form-group">
        
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Дата</th>
                <th>Выбрать рабочий день</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Dates.Count; i++)
            {
                <tr>
                    <td>
                        @Model.Dates[i].Date
                        <input type="hidden" name="dates[@i].Date" value="@Model.Dates[i].Date" />
                    </td>
                    <td>
                        @*  <input type="hidden" name="dates[@i].IsWorkingDay" value="false" /> *@
                        <input type="hidden" name="dates[@i].MasterId" value="@Model.MasterId" />
                    <input type="checkbox" name="dates[@i].IsWorkingDay" value="true" @(Model.Dates[i].IsWorkingDay ? "checked" : "") />
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <button type="submit" class="btn btn-primary">Сохранить график</button>
