
 @model BeautySaloon.Controllers.WorkScheduleViewModel

@{
	ViewData["Title"] = "График работы";
}
 <form asp-action="AddWorkSchedule" method="post">

    <h2>График работы</h2>
    <div class="form-group">
	    <label for="master">Выбор мастера:</label>
        <select id="master" name="masterId" class="form-control mb-3" required>
		    @foreach (var master in Model.Masters)
		    {
			    <option value="@master.Id">@master.Name</option>
		    }
	    </select>
    </div>

    <div class="form-group w-25">
	    <label for="startDate">Дата начала</label>
	    <input type="date" id="startDate" name="startDate" class="form-control" required />
    </div>
    <div class="form-group w-25 ">
	    <label for="endDate">Дата окончания:</label>
	    <input type="date" id="endDate" name="endDate" class="form-control" required />
    </div>

    <button type="button" class="btn btn-primary mt-5" id="loadDatesButton">Выбрать даты</button>

    <div id="datesTable"></div>

</form>
@section Scripts {
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script>
		$(document).ready(function () {
			$("#loadDatesButton").click(function () {
				var masterId = $("#master").val();
				var startDate = $("#startDate").val();
				var endDate = $("#endDate").val();

				$.ajax({
					url: '@Url.Action("GetDates")',
					type: 'GET',
					data: { masterId: masterId, startDate: startDate, endDate: endDate },
					success: function (data) {
						$("#datesTable").html(data);
						$("#formMasterId").val(masterId);
					}
				});
			});
		});
	</script>
}
